
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

body {
    background-color: #7A28C7;
    color: white;
    background-image: url('/assets/img/fundo-celular.jpg');

    height: 100vh;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #8001FA;
    text-decoration: underline;
}


.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 1rem;
}


@media only screen and (min-width: 768px) {

    .main {
        padding-bottom: 1rem;
        max-width: 800px;
        margin: 1rem auto;
    }

    body {
        background-image: url('/assets/img/fundo-pc.jpg');
    }
}

h3 {
    padding-left:1.3rem ;
}

